header {
    font-size: 10px;
    padding: 5px;
    text-align: center;
}

body {
    font-weight: 400;
    background-color: lightblue;
    text-align: center;
    line-height: 1.0;
}

p {
    text-align: left;
}

.highlights-name {
    display: block;
    width: 350px;
    height: 80px;
    line-height: 50px;
    background-color: darkgray;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-style: ridge;
    display: inline-block;
    margin: 4px 2px;
    border-block: outset;
    text-decoration: none;
    cursor: pointer;
}

.pokemon-modal-image {
    width: 40%;
    height: auto;
    margin-right: 40px;
    text-align: center;
}

nav {
    height: 100px;
    background-color: blueviolet;
}

.modal-content {
    width: 600px;
    height: auto;
    overflow: auto;
    max-width: 100%;
}


.img {
    width: 130px;
    margin-left: 40px;
}
