header {
    font-size: 10px;
    padding: 5px;
    text-align: center;
}

body {
    font-weight: 400;
    background-color: lightblue;
    text-align: center;
    line-height: 1.0;
}

p {
    text-align: left;
}

.page-btn {
    width: 100px;
    height: 40px;
    background-color: aliceblue;
    margin-right: 10px;
}

.highlights-name {
    display: block;
    width: 250px;
    height: 60px;
    line-height: 50px;
    background-color: darkgray;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    border-style: ridge;
    margin: 4px 10px;
    border-block: outset;
    text-decoration: none;
    cursor: pointer;
}

.pokemon-modal-image {
    width: 40%;
    height: auto;
    margin-right: 40px;
    text-align: center;
}

.modal-header {
    padding: 25px;
}

.modal-content {
    width: 350px;
    height: auto;
    margin: 20px;
    padding: 20px;
}

nav {
    height: 100px;
    background-color: blueviolet;
}

.img {
    width: 130px;
    margin-left: 40px;
}

.pokemon-list {
    display: flex;
}