body {
    font-weight: 400;
    font-size: 20px;
    background-color: lightblue;
    text-align:center;
    }

.special {
    color: darkblue;
}

h1 {
    margin-left: 40px;
    color:darkblue;
}
.highlights-name {
    width: 300px;
    height: 50px;
    padding: 10px;
    background-color: lightgray;
    color: black;
    font-size: 20px;
    border-style: ridge;
    display: inline-block;
    margin: 4px 2px;
    border-block:outset;
    text-decoration:none;
    cursor:pointer;
}

.pokemon-list {
    list-style-type: none;
}
#modal-container {
    display: none;
}

#modal-container.is-visible {
        position: fixed;
        padding: 10px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
        overflow: auto;
        display: grid;
        text-align: center;
        top: 0%;
        left: 0%;
 }

.modal {
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    color: black;
    background-color: lightcyan;
    border-radius: 10px;
    padding: 20px;
    width: 20%;
    height: auto;
    max-width: 500px;
    max-height: 600px;
    align-items: center;
}

.modal-close {
    align-self: flex-end;
}

.modal-image {
    width: 150px;
    height: auto;
}

